 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Computer scientist, game enthusiastic, and a freelance writer for technology and games. I am currently pursuing a Masters's Degree in Computer Networks, with emphasys on UAV Networks, at UFRGS/Brazil.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have knowledge of several programming languages such as Python, C++, C#, Java and Unity Game Engine. On this page you can find out more about my past and recent projects! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4695079P0" class="btn btn-lg btn-outline">
                        <i class="fa fa-check"></i> Lattes Curriculum
                    </a>
                </div>
            </div>
        </div>
    </section>
